<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="a_num" id="a_num">
    <select name="operator" id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" name="b_num" id="b_num">
    <button type="submit">Calculator</button>
</form>
</body>
</html>